SECRET_KEY="" #Django secret key
DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0 [::1]

DB_NAME="" #Имя БД Postgres
DB_USER="" #Имя пользователя БД Postgres
DB_PASSWORD="" #Пароль пользователя к БД Postgres
DB_HOST=db
DB_PORT="5432"